{% extends "base.j2" %}
{% block interfaces %}
{% for switchport in switchports|sort() %}
interface {{ switchport }}
{% if switchports[switchport]['desc'] is defined %}
 description {{ switchports[switchport]['desc'] }}
{% endif %}
{% if 'trunk' in switchports[switchport]['mode'] %}
 switchport
 switchport mode trunk
{% if switchports[switchport]['allowedvlans'] is defined %}
 switchport trunk allowed vlans {{ switchports[switchport]['allowedvlans'] }}
{% endif %}
{% if switchports[switchport]['nativevlan'] is defined %}
 switchport trunk native vlan {{ switchports[switchport]['nativevlan'] }}
{% endif %}
{% elif 'routed' in switchports[switchport]['mode'] %}
 no switchport
{% else %}
 switchport
 switchport mode access
 switchport nonegotiate
{% if switchports[switchport]['vlan'] is defined %}
 switchport access vlan {{ switchports[switchport]['vlan'] }}
{% endif %}
 spanning-tree portfast
 spanning-tree bpduguard enable
{% endif %}
{% if switchports[switchport]['shutdown'] is defined %}
 shutdown
{% else %}
 no shutdown
{% endif %}
!
{% endfor %}
{% endblock %}